name: Flutter Desktop Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    name: Build Windows App
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable Windows
        run: flutter config --enable-windows-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze project
        run: flutter analyze

      - name: Build Windows app
        run: flutter build windows
      
      - name: Zip Windows Build
        shell: pwsh
        run: |
          $zipSource = "build/windows/x64/Release/"
          if (-Not (Test-Path $zipSource)) {
            Write-Error "Runner folder not found at $zipSource"
            exit 1
          }
          Compress-Archive -Path "$zipSource\*" -DestinationPath windows_build.zip
      
      

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: windows_build.zip

  build-macos:
    name: Build macOS App
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable macOS
        run: flutter config --enable-macos-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze project
        run: flutter analyze

      - name: Build macOS app
        run: flutter build macos

      - name: Zip macOS Build
        run: zip -r macos_build.zip build/macos/Build/Products/Release/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: macos_build.zip
